.items {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.item {
  display: flex;
  align-items: center;
}

.link {
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.collapsedRedesigned {
  padding: 0 8px;

  .link {
    opacity: 0;
    width: 0;
  }
}

.active {
  background: linear-gradient(
    89.97deg,
    rgba(29, 89, 255, 0.3) 1.15%,
    rgba(94, 211, 243, 0) 99.97%
  );
  position: relative;
  border-left: 1px solid var(--accent-redesigned);
}
