.app_gdc_theme {
  --bg-color: #F4F9FB;
  --inverted-bg-color: #3E678E;
  --primary-color: #215967;
  --secondary-color: #00C6D3;
  --inverted-primary-color: #21A1AF;
  --inverted-secondary-color: #F4F9FB;
}
