.app_gdc_theme {
  --bg-color: #f4f9fb;
  --inverted-bg-color: #3e678e;
  --primary-color: #215967;
  --secondary-color: #00e6e3;
  --inverted-primary-color: #21e1ef;
  --inverted-secondary-color: #f4f9fb;
}
