.app_gdc_theme {
  --bg-color: #f4f9fb;
  --inverted-bg-color: #3e678e;
  --primary-color: #215967;
  --secondary-color: #43a19d;
  --inverted-primary-color: #21e1ef;
  --inverted-secondary-color: #f4f9fb;

    // skeleton
      --skeleton-color: #fff;
      --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

  //card
  --card-bg: #bfdbe8;
}
