.StarRating {
  .normal {
    fill: none;
  }

  .hovered {
    fill: var(--primary-color);
  }
}

.StarRatingRedesigned {
  .hovered {
    fill: var(--icon-redesigned);
  }
}

.normal {
  fill: none;
}

.StarIcon {
  cursor: pointer;
}

.selected {
  cursor: auto;
}
